 body {
       font-family: Arial, sans-serif;
      background: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .portfolio-container {
      width: 900px;
      height: 950px;
      background: white;
      display: flex;
      flex-direction: row;
      box-shadow: 0 4px 10px rgba(16, 14, 14, 0.2);
    }

    /* Left white section */
    .left {
      width: 450px;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .left h1 {
      font-size: 30px;
      margin: 80px ;
    }
    .right {
      width: 430px;
     background: linear-gradient(135deg, #111 25%, #333 25%, #222 50%, #111 50%, #111 75%, #333 75%, #222);
     background-size: 60px 60px;
      position: relative;
      display: flex;
      position: relative;
      justify-content: flex-start;
      align-items: center;
      color:white;
      flex-direction: column;
      padding:100px


    }

    .profile-img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border: 6px solid rgb(248, 239, 239);
      object-fit: cover;
      position: absolute;
      left: -90px;
      justify-content: center;
      margin-top: 150px;;
    }
    
    